body{
    background-color: rgb(124, 203, 255);
}
.welcome{
    color: rgb(255, 0, 128);
    font-weight:bolder;
    font-family: Helvetica, Arial, sans-serif;
    padding: 1%;
}
.ideas{
    color:rgb(255, 0, 128);
    font-weight:bolder;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 20px;
}
li{
    color:black;
}
.board{
    margin: 50px 60px 60px 150px;}
.row{
    width: 100%;
    height: 50px;
}
.one,.two,.tre,.for,.fiv{
    margin-top: 10px;
}
button{
    color: white;
    background-color: rgb(3, 0, 32);
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 20%;
    outline: none;

    margin-left: 5px;
}
.backspace{
    width: 120px;
    border-radius: 20%;
}
.tab{
    width: 99px;
}
.caps{
    width: 100px;
}
.enter{
    width: 125px;
}
.shift{
    width: 112px;
}
.ctrl{
    width: 80px;
}
.alt{
    width: 60px;
}
.space{
    width: 269px;
}
.gamer{
    background-color: lime;
    color: black;
    border-radius: 100%;
    outline-style:outset;
    outline-color: red;
}
a:link{
    color:rgb(0, 255, 255);
}
a:hover{
    color:rgb(255, 255, 0);
}
a:active{
    color:rgb(255, 0, 0);
}
a:visited{
    color:rgb(0, 255, 255);
}
footer{
    background-color: rgb(19, 17, 17);
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: 200;
    padding: 3em;
    align-content: center;
}